.contact {
  text-align: center;
  padding: 30px;
  color: #fffcfc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
 
}
.main-content {
  flex: 1;
  padding: 20px;
}

h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  background: linear-gradient(to right, #180161, #352187, #4F1787, #EB3678, #FB773C);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: -3px 3px 0 rgba(72, 25, 160, 0.349);
  font-size: 2.5rem;
  filter: drop-shadow(0 0 1em #646cffcc);
  text-transform: uppercase;
}
h2{
  font-size: 1.3em;
}
.contact-form{
  margin-top: -5px;
}
.contact-info {
  margin: 20px 0;
}

.contact-info p {
  margin: 10px 0;
}

.contact-info a {
  color: #00c3ff;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}



.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.form-group {
  margin: 10px 0;
  width: 100%;
  max-width: 500px;
  justify-content: center;
}

.form-group input,
.form-group textarea {
 
  padding: 10px;
  width: 350px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: none;
  font-size: 0.9em;
  background: linear-gradient(to right, #180161, #4F1787);
  /*background: rgba(117, 46, 231, 0.384);*/
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  color: #fff;
  
  filter: drop-shadow(0 2px 6em #646cff83);
}
.form-group input:focus,
.form-group textarea:focus{
  filter: drop-shadow(0 0 1em #646cffaa);
  border-color: #4F1787;
}
textarea {
  resize: none;
}
.submit-btn {
  padding: 15px 30px;
  background: linear-gradient(to right, #180161, #4F1787, #EB3678, #FB773C);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 0.7px solid #fff;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
  position: relative;
  font-size: 1.2rem;
  padding: 5px 20px;
  border: 1px solid;
  border-image: linear-gradient(to left,#d93f87,#352187,#44328d,#7652af,#68d8d8) 1;
}

.submit-btn:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 2em #732dacd5);
  transform: scaleX(1px);
  background: linear-gradient(to left, #180161, #4F1787, #EB3678, #FB773C);
 
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
 
  filter: drop-shadow(0 0 1em #646cffaa);
  transform: scaleX(1px);
  border: 1px solid;
  border-image: linear-gradient(to right,#d93f87,#352187,#44328d,#7652af,#68d8d8) 1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.phrase,.contact-form-h {
  font-size: 1.5em;
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  
}
.contact-form-h{
  text-align: center;
  margin-left: 10px;
}

.contact-info {
  float: right;
  padding: 0 20px;
  filter: opacity(1);
}
.contact-form::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /*background-color: rgba(0, 0, 0, 0.555);*/
}
.contact-form {
  width: 330px;
  float: left;
  padding: 0 27px;
  left: 0;
  top: 0;
}
.wrapper {
  display: flex;
  max-width: 1000px;
  margin-left: 90px;
  margin-right: 40px;
  gap: 50px;
  border-radius: 25px;
  padding: 20px 30px;
  /*box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);*/
  /*
  box-shadow:
                0 0 0 4px rgba(0, 0, 0, 0.1),
                inset 0 0 0 3px #EFEFEF,
                inset 0 0 10px #EFEFEF,
                0 0 10px rgb(255, 255, 255);*/
}

.icons {
  background: linear-gradient(to right, #180161, #352187, #4F1787, #EB3678, #FB773C);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: -4px 3px 0 rgba(72, 25, 160, 0.349);
  padding: 10px;
  font-size: 22px;
  column-gap: 15px;
  cursor: pointer;
}
.icon {
  color: #4F1787;
  margin-top: 150px;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-left: 170px;
}
.icon a {
  transition: all 0.5s ease-in-out;
}

.icon a:hover {
  transform: scale(1.1);

}
.divider{
  border-radius: 15px;
  background: linear-gradient(to right, #180161, #4F1787);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.1),
    inset 0 0 0 3px #4e12db,
    inset 0 0 10px #3816d1,
    0 0 10px rgb(81, 30, 201);
    width: 2px;
    height: 300px;
    margin-top: 40px;
    margin-left: 70px;
    justify-content: center;
}
.fish{
  width: 100px;
  height: 100px;
  filter: drop-shadow(0 0 1em #646cffaa);
  transition: transform 0.3s, filter 0.3s;
  animation: blob 6s ease-in-out infinite;
}
.fish:hover{
  transform: scale(1.1);
  filter: drop-shadow(0 0 1em #e48bffaa);
}
@keyframes blob{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(15px);
  }
  100%{
    transform: translateY(0);
  }
}
.robot-icon {
  cursor: pointer; 
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  width: 50px; 
  height: auto; 
  z-index: 1000; 
}

.robot-icon:hover {
  transform: scale(1.1); 
}

.form-confirmation{
  background: linear-gradient(to left, #180161, #352187, #4F1787, #EB3678, #FB773C);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 20px;
  font-size: 1.7rem;
  filter: drop-shadow(0 0 3em #8f94ffcc);
}

@media (max-width: 768px) {
  
  h1 {
    font-size: 2rem;
  }
  .contact-form{
    justify-content: center;
    align-items: center;
    margin-left: -60px;
    margin-right: 20px;
  }

  .form-group input,
  .form-group textarea {
    padding: 10px 25px;
    margin-left: -19px;
    border-radius: 5px;
  }
  .divider{
      height: 200px;
      margin-top: -40px;
      margin-left: -80px;
      justify-content: center;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .icons {
    justify-content: center;
    align-items: center;
    margin-left: -77px;
    margin-top: -80px;
  }
  .phrase{
   
    font-size: 1.4rem;
    text-align: center;
    margin-left: -60px;
    margin-top: -70px;
    
  }
  .fish{
    width: 100px;
    height: 100px;
    justify-content: center;
    margin-left: -30px;
    margin-right: 45px;
    
  }
  
 
}
