.footer {
  text-align: center;
  padding: 10px 20px;
  padding-top: 50px;
  color: white;
  margin-top: 70px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background: rgba(34, 16, 73, 0.068);
 


}

.copyright {
  display: flex;
  justify-content: center;
  gap: 10px;

}

.h3 {
  background: linear-gradient(to right, #180161, #352187, #4F1787, #EB3678, #FB773C);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 20px;
  font-size: 1.7rem;
  filter: drop-shadow(0 0 3em #646cffcc);
}
.p{
  font-size: 1.3em;
}
.footer-logo {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  filter: drop-shadow(0 0 1em #646cffcc);
}

.copyright>span {
  margin-top: 25px;
}

/*@media (max-width: 768px) {
    padding: 30px 20px;
    min-height: 25vh;
  }
  */